.productCard {
    border: 1px solid var(--cool-blue);
    padding: 1rem 1rem;
    max-width: 580px; // see if you need later
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--item-gap-size);

    img {
        display: block;
        margin-inline: auto;
        max-width: 100%;
    }

    button {
        background-color: var(--blue);
        color: var(--secondary-text-color);
        border: none;
        border-radius: 25px;
        padding: 12px 12px;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
}