#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.observerShowCase {
  align-items: center;
}

.observerShowCase > * {
  margin-bottom: 1rem;
}

.eventsContainer,
.unsubContainer {
  height: 50px;
  align-content: center;
}

.eventsContainer > input {
  width: 200px;
  margin-right: 1rem;
}

.eventsContainer,
.unsubContainer > button {
  height: auto;
}

.unsubContainer > :first-child {
  margin-right: 1rem;
}

code {
  display: block;
  width: 100%;
  height: 400px;
  background-color: whitesmoke;
}

code > * {
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
  margin-inline: auto;
}
