.productSection {
    margin-inline: auto;
    //max-width: 980px;
    padding: 1rem;
    display: grid;
    grid-gap: var(--item-gap-size);
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
}